<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Work</a></li>
                <li class="logo"><a href=""><img src="img/logo.png" alt="logo" class="logo white">
                    <img src="img/logo.png" alt="logo" class="logo black"></a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">Cient</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <a href="javacript:void(0);" class="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </nav>
    </header>
    <div style="height: 500px;"></div>
    <div class="full-nav">
        <div class="logo"><a href=""><img src="img/logo.png" alt=""></a></div>
        <nav class="nav2">
            <ul>
                <li><a href=""><span>01.</span>Home</a></li>
                <li><a href=""><span>02.</span>Features</a></li>
                <li><a href=""><span>03.</span>Team</a></li>
                <li><a href=""><span>04.</span>Work</a></li>
                <li><a href=""><span>05.</span>Pricing</a></li>
                <li><a href=""><span>06.</span>Client</a></li>
                <li><a href=""><span>07.</span>Blog</a></li>
                <li><a href=""><span>08.</span>Contact</a></li>
            </ul>
        </nav>
        <ul class="social-icons list-inline">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="corner-circle">
            <a href="javascript:void(0);" class="nav-close"><span></span><span></span></a>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="js/script.js"></script>
</html>