html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(206, 208, 209);
}

h3 {
    width: 60%;
    margin: auto;
}

.item {
    background-color: rgb(52, 191, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(even){
    background-color: rgb(253, 124, 124);
}

/* Start Grid Row Column */
.container1 {
    margin: 50px auto;
    width: 60%;
    text-align: center;
    display: grid;
}

/* Latihan 1 */
.container1.one {
    grid-template-columns: 1fr 3fr 1.5fr;
}

/* Latihan 2 */
.container1.two {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 5fr 2.5fr;
    grid-auto-rows: 100px;
}

/* Latihan 3 */
.container1.three {
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1.5fr 1fr;
    grid-auto-columns: 3fr;
    grid-auto-flow: column;
}

/* Latihan 4 */
.container1.four {
    grid-auto-columns: 2fr;
    grid-auto-flow: column;
}

/* Latihan 5 */
.container1.five {
    grid-auto-columns: 40px;
}

/* Latihan 6 */
.container1.six {
    grid-auto-columns: 40px;
    grid-template-rows: auto auto 5fr 7fr;
    grid-auto-rows: 2fr;
}
/* End Grid Row Column */

/* Start Grid Special Keyword Function  */
.container2 {
    width: 60%;
    margin: 0 auto 50px auto;
    display: grid;
}

/* Latihan 1 */
.container2.one {
    grid-template-columns: repeat(9, 2fr);
}

/* Latihan 2 */
.container2.two {
    grid-template-columns: 1fr min-content max-content;
}

/* Latihan 3 */
.container2.three {
    border: 5px solid black;
    grid-template-columns: repeat(auto-fit, 100px);
}

/* Latihan 4 */
.container2.four {
    grid-template-columns: 1fr minmax(200px, 300px) 1fr;
}
/* End Grid Special Keyword Function  */

/* Start Grid Area and Gap  */
.container3 {
    width: 60%;
    margin: 0 auto 50px auto;
    display: grid;
}

/* Latihan 1 */
.container3.one {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
    grid-template-areas: 'header header header'
    'sidebar sidebar sidebar'
    'main main main'
    'footer footer footer';
}

.container3 .item {
    color: white;
}

.container3 .item.header {
    grid-area: header;
    background-color: rgb(255, 140, 140);
}

.container3 .item.sidebar {
    grid-area: sidebar;
    background-color: rgb(91, 142, 207);
}

.container3 .item.main {
    grid-area: main;
    background-color: orange;
}

.container3 .item.footer {
    grid-area: footer;
    background-color: grey;
}

@media screen and (min-width: 576px){
    .container3.one {
        grid-template-areas: 'header header header'
            'sidebar main main'
            'sidebar main main'
            'footer footer footer';
    }
}

/* Latihan 2 */
.container3.two {
    grid-template: [row1-start] 'header header header' 1fr
    [row1-end row2-start] 'main main main' 2fr 
    [row2-end row3-start] 'footer footer footer' 3fr [row3-end]
    / 1fr 2fr 3fr;
}

/* Latihan 3 */
.container3.three {
    border: 5px solid black;
    background-color: white;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

.container3.three .item {
    padding: 50px 0;
}
/* End Grid Area and Gap  */

/* Start Grid Alignment */
.item.i1, .item.i4, .item.i7 {
    width: 80px;
}

.item.i2, .item.i5, .item.i8 {
    width: 50px;
}

.item.i3, .item.i6, .item.i9 {
    width: 110px;
}

.container4 {
    width: 60%;
    margin: 0 auto 50px auto;
    display: grid;
    gap: 5px;
}

.container4 .item {
    border: 3px solid rgb(0, 0, 0);
    height: 100px;
    background-color: rgb(117, 204, 255);
}

/* Latihan 1 */
.container4.one {
    justify-items: center;
    align-items: center;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Latihan 2 */
.container4.two {
    background-color: black;
    height: 400px;
    grid-template-columns: 120px 130px 120px;
    grid-template-rows: 80px 80px 80px;
    justify-content: end;
    align-content: space-around;
}

.container4.two .item {
    width: 80px;
    height: 40px;
}
