@use 'modules' as m;

// Normal
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(233, 233, 233);
}

// Nesting
.nesting {
    background-color: aqua;
    font-size: 2rem;
    h1 {
        color: white;
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: black;
                background-color: white;
            }
        }
    }
    p {
        word-spacing: 1.5em;
    }
}

// Variable
.variable {
    $font: 2rem;
    $color: rgb(255, 208, 0);
    h1 {
        color: $color;
    }
    p, input, button {
        font-size: $font;
    }
}

//  Mixin
@mixin flex-function($justify) {
    display: flex;
    justify-content: $justify;
}
@mixin link-function {
    text-decoration: none;
    &:hover {
        background-color: white;
        color: blue;
    }
}
.mixin {
    background-color: yellowgreen;
    ul {
        font-size: 2rem;
        list-style: none;
        &.link {
            @include flex-function(center);
            li a {
                @include link-function();
            }
        }
        &.test {
            @include flex-function(space-between);
            li a {
                @include link-function();
            }
        }
    }
}

// Modules
// @use 'modules' as m;
.modules {
    background-color: cornsilk;
    ul.modules {
        @include m.flex-function(space-around);
        list-style: none;
        li a {
            @include m.link-function();
        }
    }
}

// Flow Control
@mixin arrow-function($color, $direction) {
    width: 0;
    height: 0;
    border-width: 1em;
    border-style: solid;
    border-color: transparent;
    @if $direction == top {
        border-bottom-color: $color;
    } @else if $direction == right {
        border-left-color: $color;
    } @else if $direction == bottom {
        border-top-color: $color;
    } @else {
        border-right-color: $color;
    }
}
.flow {
    .arrow  {
        &-top {
            @include arrow-function(green, top);
        }
        &-right {
            @include arrow-function(green, right);
        }
        &-bottom {
            @include arrow-function(green, bottom);
        }
        &-left {
            @include arrow-function(green, left);
        }
    }
    .list {

    }
}
